<% if @post.errors.any? %>
<div class="alert alert-danger">
    <ul>
        <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="card-body">
    <%= form_for @post, html: { class:'form-horizontal' } do |f| %>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-general-tab" data-toggle="tab" href="#nav-general" role="tab" aria-controls="nav-general" aria-selected="true">General</a>
                <a class="nav-item nav-link" id="nav-body-tab" data-toggle="tab" href="#nav-body" role="tab" aria-controls="nav-body" aria-selected="false">Corps</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade active show" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">
                <div class="form-group row">
                    <%= f.label :title, "Titre",class: 'col-md-4 control-label' %>
                    <div class="col-md-6">
                        <%= f.text_field :title,class:'form-control' %>
                    </div>
                </div>
                <div class="form-group row">
                    <%= f.label :status, "Etat de publication",class: 'col-md-4 control-label' %>
                    <div class="col-md-6">
                        <%= f.select :status ,['En ligne','Hors ligne'],class: 'form-control'%>
                    </div>
                </div>
                <div class="form-group row">
                    <%= f.label :published_at, "Date de publication",class: 'col-md-4 control-label' %>
                    <div class="col-md-6">
                        <%= f.text_field :published_at,class:'form-control form-datepicker' %>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="nav-body" role="tabpanel" aria-labelledby="nav-body-tab">
                    <div>
                        <%= f.cktext_area :body,cols: 40,class:"form-control" %>
                    </div>
            </div>
        </div>

        <div class="form_group row">
            <div class="col-md-6 col-md-offset-4">
                <button type="submit" class="btn btn-primary"><%= @post.new_record? ? "Créer" : "Modifier" %></button>
                <a href="<%= posts_path %>" class="btn btn-dark">Retour à la liste</a>
            </div>     
        </div>
    <% end %>
</div>

</textarea><script type="text/javascript">
    (function() { 
      if (typeof CKEDITOR != 'undefined') { 
        CKEDITOR.replace('post_body') ;
      } else { 
        setTimeout(arguments.callee, 50); 
      } 
    })();
</script>